

.right-cell-grid{
    display: grid;
    grid-template-columns: 5fr 1fr;
}


.icon {
    position: absolute;
    left: 43.47%;
    right: 43.54%;
    top: 5.33%;
    bottom: 85.67%;

    background: url('../images/image.png');
}



.vector1{
    /* Vector 1 */

    position: absolute;
    left: 74.1%;
    right: -4.62%;
    top: -15.11%;
    bottom: -11.11%;

    background: linear-gradient(186.98deg, #7187EC -0.01%, #E24F85 89.42%);

}

.vector2{
    /* Vector 2 */

    position: absolute;
    width: 461.96px;
    height: 1011px;
    left: 1056px;
    top: -95px;

    background: linear-gradient(180deg, #6F2443 0%, #393764 100%);

}

.v-btn__content {
    align-items: center;
    color: inherit;
    display: flex;
    flex: 1 0 auto;
    justify-content: inherit;
    line-height: normal;
    position: relative;
}
